<h3 class="mt-5">My tours</h3>

<a class="btn btn-ghost mt-2 mb-4" href="tours/new">Add a new tour</a>

<div class="cards mt-5">
    <% @tours.each do |tour| %>
      <a href="../tours/<%= tour.id%>" class='properlink'>
        <div class="card-trip">
          <%# <img class="img-gray-scale" src=<%= tour.img_url ? tour.img_url : cl_image_path(tour.photo.key) %>
          <div class="card-trip-infos">
            <div>
              <h2><%= tour.name %></h2>
              <p><%= tour.description %></p>
            </div>
            <div class="card-body">
              <%= link_to "Edit my tour", edit_tour_path(tour), class: "card-link properlink" %>
              <%= link_to "Delete this tour", tours_path, class: "card-link properlink", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{tour.name} from your tours?"} %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
