
<div class="container">

  <h3 class="mt-5">All tours</h3>
  <%= render '/shared/search' %>
  <%# <a class="btn btn-ghost mt-2 mb-4" href="tour/new">Add a new tour</a> %>
  <%= link_to "Add a new tour", new_tour_path, class: "button button-primary mt-2" %>

  <div class="travel-card-container">
    <% @tours.each do |tour| %>
        <div class="travel-card">
          <div class="travel-card-header">
          <%= link_to tour_path(tour) do %>
          <% if tour.photo.key? %>
            <%= cl_image_tag tour.photo.key %>
          <% end %>
          <% end %>
          </div>

          <%= link_to tour_path(tour) do %>
          <div class="travel-card-info">
            <div class="travel-card-text">
                <h3><%= tour.name %></h3>
                <p><%= tour.description %></p>
            </div>
            <% if tour.user == current_user %>
              <div class="travel-card-links">

                  <%= link_to "Edit", edit_tour_path(tour), class: "button button-update" %>
                  <%= link_to "Delete", tour_path(tour), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{tour.name} from your tours?"}, class: "button button-danger" %>


              </div>
            <% end %>
          </div>
        </div>
        <% end %>

    <% end %>
  </div>


</div>
