<div class="container-fluid tour-container" data-controller="map" data-map-markers-value="<%= @markers.to_json %>">

  <div class="tour-texts">
    <h3><%= @tour.name %></h3>
    <p><%= @tour.description %></p>
  </div>

  <div class="add-container mx-2">

      <%= link_to "Add user", new_tour_tour_user_path(@tour) %>

      <% @tour.users.each do |user| %>
        <%= user.username %>
        <%= link_to "Delete user", tour_user_path(@tour), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{user.username} from your #{@tour.name} tour?" }  %>
      <% end %>


      <% if @tour.sites.size > 0 %>
        <div class="sites-container">
          <% @tour.sites.each do |site| %>
            <div class="site-card">
            <h4><%= site.name %></h4>
            <p><%= site.address %></p>
            </div>
          <% end %>
        </div>
      <% end %>



      <div id="map" class="tour-map"></div>


      <%= render "sites/form" %>

  </div>




</div>
