
<div class="container-fluid">

  <div class="tour-texts">
    <h3><%= @tour.name %></h3>
    <p><%= @tour.description %></p>
  </div>



  <div class="d-flex justify-content-center align-items-center mx-2">


    <div data-controller="map" data-map-markers-value="<%= @markers.to_json %>"></div>
    <div id="map" style="width: 100%; height: 500px;" ></div>

    <%= render "sites/form" %>

  </div>


  <div class="sites-container">
    <% @tour.sites.each do |site| %>
      <div class="site-card">
       <h4><%= site.name %></h4>
       <p><%= site.address %></p>
      </div>
    <% end %>
  </div>

</div>
