<div class="container-fluid tour-container" data-controller="map tour-view" data-map-markers-value="<%= @markers.to_json %>">

  <div class="header">
    <div class="tour-header">
      <div class="tour-header-text">
        <h1 class="mb-4"><%= @tour.name %></h1>
        <p><%= @tour.description %></p>
      </div>
    </div>

    <% if @tour.user == current_user  || !User.excluding(@tour.tour_users.map(&:user)).include?(current_user) %>

      <div class="d-flex flex-column">
        <div class="tour-users">

          <!-- Button trigger modal -->
          <button type="button" class="btn-new-user" title="Add a friend" data-bs-toggle="modal" data-bs-target="#addUserModal">

            <i class="fa-solid fa-user-plus"></i>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add a friend</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-add-user">
                  <%= render "tour_users/form" %>
                </div>
              </div>
            </div>
          </div>


          <% @tour.users.each do |user| %>
            <div class="user-tag">
              <% tour_user = TourUser.find_by(tour: @tour, user: user) %>
              <% if user.img_url %>
                <div class="avatar-background">
                  <%= image_tag user.img_url, class: "user-avatars", title: user.username %>
                </div>
              <% elsif user.photo.key %>
                <%= cl_image_tag user.photo.key, class: "user-avatars", title: user.username %>
              <% else %>
                <%= image_tag "avatar.jpg", class: "user-avatars", title: user.username %>
              <% end %>
              <%= link_to tour_user_path(tour_user), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{user.username} from your #{@tour.name} tour?" } do %>
                <i class="fa-sharp fa-solid fa-circle-xmark"></i>
              <% end %>
            </div>
          <% end %>

        </div>

          <div class="mt-5 px-4 text-end">
            <%= link_to "Blog view", tours_show_notes_path, class: "button button-update" %>
          </div>

        <%# </div> %>
      </div>
    <% end %>

  </div>



    <div class="add-container mx-2 chat-container"
         data-controller="show-site"
    >
      <% if @tour.sites.size > 0 %>
        <div class="sites-container" data-tour-view-target="sites">

          <% @tour.sites.each do |site| %>

            <div class="site-card" data-action ="click->show-site#switch" data-site-id="<%= site.id %>"
            >
              <h4><%= site.name %></h4>
              <div class="site-card-info">
                <%# <p>= site.address</p> %>
                <%= link_to site_path(site), class: "card-tour-button" do %>
                  <i class="fa-solid fa-eye"></i>
                <% end %>
                <% if site.tour.user == current_user  || !User.excluding(@tour.tour_users.map(&:user)).include?(current_user) %>

                  <%= link_to new_site_note_path(site) do %>
                    <i class="fa-solid fa-pen-to-square" class="properlink"></i>
                  <% end %>

                  <%= link_to site_path(site), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{site.name} from your tour?"}, class: "card-tour-button" do %>
                    <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                  <% end %>

                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="tour-notes-container" data-show-site-target="site"></div>


      <div id="map" class="tour-map"></div>

        <% if current_user == @tour.user || !User.excluding(@tour.tour_users.map(&:user)).include?(current_user) %>
          <div class="footer">
            <div class="btn-group dropup"
              data-controller="chatroom-subscription"
              data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
              data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
            >
              <button type="button" class="btn-chat dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Chat
              </button>

              <ul class="dropdown-menu">
                <!-- Dropdown menu links -->
                <div class="chat-box">
                  <div class="container chatroom">

                    <div class="messages"
                    data-chatroom-subscription-target="messages"
                    >
                      <% @chatroom.messages.each do |message| %>
                        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                          <div class="<%= message.sender?(current_user) ? 'message-sender' : 'message-receiver' %>">
                            <%= render "messages/message", message: message %>
                          </div>
                        </div>
                      <% end %>
                    </div>

                    <div class="message-box">
                      <%= simple_form_for [@chatroom, @message],
                        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
                        class: "d-flex" } do |f|
                      %>
                        <%= f.input :content,
                          label: false,
                          placeholder: "Message ##{@chatroom.name}",
                          wrapper_html: {class: "flex-grow-1"}
                        %>
                        <%= f.submit "Send", class: "btn-send mb-3" %>
                      <% end %>
                    </div>

                  </div>
                </div>
              </ul>

            </div>
          </div>
        <% end %>

      <%= render "sites/form" %>

    </div>


  <div>

      <%# <button class="btn-site" data-tour-view-target="siteBtn" data-action="click->tour-view#siteToggleHide">
        <i class="fa-solid fa-map-location-dot"></i>
      </button> %>

  </div>

</div>
