<div class="container-fluid tour-container" data-controller="map tour-view" data-map-markers-value="<%= @markers.to_json %>">
  <%# <div  data-controller="tour_view"> %>


    <div class="tour-header">
      <div class="tour-header-text">
        <h3><%= @tour.name %></h3>
        <p><%= @tour.description %></p>
      </div>

      <% if @tour.user == current_user %>
        <div class="tour-header-users">
          <%= link_to new_tour_tour_user_path(@tour), class: "btn-new-user" do %>
            <i class="fa-solid fa-user-plus"></i>
          <% end %>

          <% @tour.users.each do |user| %>
            <div class="user-tag">
              <% tour_user = TourUser.find_by(tour: @tour, user: user) %>
              <p><%= user.username %></p>
              <%= link_to tour_user_path(tour_user), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{user.username} from your #{@tour.name} tour?" } do %>
                <i class="fa-sharp fa-solid fa-circle-xmark"></i>
              <% end %>
            </div>
          <% end %>
        </div>

      <% end %>




    </div>



    <div class="add-container mx-2 chat-container">



        <% if @tour.sites.size > 0 %>
          <div class="sites-container" data-tour-view-target="sites">

            <% @tour.sites.each do |site| %>

              <div class="site-card" data-flat-id="<%= site.id %>">
                <h4><%= site.name %></h4>
                <div class="site-card-info">
                  <p><%= site.address %></p>
                  <%= link_to site_path(site), class: "card-tour-button" do %>
                    <i class="fa-solid fa-eye"></i>
                  <% end %>
                  <% if site.tour.user == current_user %>
                    <%= link_to new_site_note_path(site) do %>
                      <i class="fa-solid fa-plus" class="properlink"></i>
                    <% end %>
                    <%= link_to site_path(site), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{site.name} from your tours?"}, class: "card-tour-button" do %>
                      <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                    <% end %>
                  <% end %>
                </div>

              </div>

            <% end %>
          </div>
        <% end %>

        <div id="map" class="tour-map"></div>


        <% if current_user == @tour.user || @tour.tour_users.include?(current_user) %>


        <div class="footer">
          <div class="btn-group dropup"
            data-controller="chatroom-subscription"
            data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
          >

              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Chat
              </button>

              <ul class="dropdown-menu">
                <!-- Dropdown menu links -->
                <div class="chat-box">

                  <div class="container chatroom"

                  >
                    <div class="messages"
                    data-chatroom-subscription-target="messages"
                    >
                      <% @chatroom.messages.each do |message| %>
                        <%= render "messages/message", message: message %>
                      <% end %>
                    </div>


                    <div class="message-box">
                      <%= simple_form_for [@chatroom, @message],
                        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
                        class: "d-flex" } do |f|
                      %>
                        <%= f.input :content,
                          label: false,
                          placeholder: "Message ##{@chatroom.name}",
                          wrapper_html: {class: "flex-grow-1"}
                        %>
                        <%= f.submit "Send", class: "btn btn-primary mb-3" %>
                      <% end %>
                    </div>
                  </div>
                </ul>

            </div>
          </div>
        <% end %>


        <%= render "sites/form" %>

    </div>


    <div>
      <% if @tour.sites.size > 0 %>
        <button class="btn-site" data-tour-view-target="siteBtn" data-action="click->tour-view#siteToggleHide">
          <i class="fa-solid fa-map-location-dot"></i>
        </button>
      <% end %>
    </div>

  <%# </div> %>

</div>
