<div class="container-fluid tour-container" data-controller="map" data-map-markers-value="<%= @markers.to_json %>">

  <div class="tour-texts">
    <h3><%= @tour.name %></h3>
    <p><%= @tour.description %></p>
  </div>

  <div class="add-container mx-2">

      <% if @tour.sites.size > 0 %>
        <div class="sites-container">
          <% @tour.sites.each do |site| %>
            <div class="site-card">
            <h4><%= site.name %></h4>
            <p><%= site.address %></p>
            </div>
          <% end %>
        </div>
      <% end %>



      <div id="map" class="tour-map"></div>

      <%# <div ></div> %>


      <%= render "sites/form" %>

  </div>




</div>
