<% if @tour.photo.key %>
  <div class="banner-site" style="background-image: url(<%= cl_image_path(@tour.photo.key)%>);">

      <h1><%= @tour.name %></h1>

  </div>
<% end %>

<div class="notes-wrapper">

  <div class="notes-container container mt-5">


    <% @sites.each do |site| %>
      <div class="site-container blog-site">

        <h2 class="text-center mt-2" id="<%=site.id%>"><%= site.name %></h2>

        <div class="card-note-container">

          <% site.notes.each do |note| %>
          <br>
            <div class="card-note">

              <%= note.rich_content %>

              <% if note.photos.first %>
                <% note.photos.each do |photo| %>
                  <%= photo.key %>
                  <%= cl_image_tag photo.key %>
                <% end %>
              <% end %>


            </div>
          <% end %>

        </div>


      </div>


    <% end %>


  </div>


  <div class="notes-nav">
    <% @sites.each do |site| %>
      <a href="#<%=site.id%>" class="notes-nav-item"><h5><%= site.name %></h5></a>
    <% end %>
    <%= link_to "Back to tour", tour_path(@tour), class: "button button-primary bottom" %>
  </div>

</div>
