<div class="container">


  <h3 class="mt-5">My tours</h3>

  <%# <a class="btn btn-ghost mt-2 mb-4" href="tour/new">Add a new tour</a> %>
  <%= link_to "Add a tour", new_tour_path, class: "btn btn-primary"  %>


  <div class="cards">
    <% @tours.each do |tour| %>
        <div class="travel-card">
          <div class="travel-card-header">
          <% if tour.photo.key? %>
            <%= link_to tour_path(tour)do %>
              <%= cl_image_tag tour.photo.key %>
            <% end %>
          <% end %>
          </div>

        <%= link_to tour_path(tour)do %>
          <div class="travel-card-info">
            <div class="travel-card-text">
                <h3><%= tour.name %></h3>
                <% if tour.description %>
                    <p><%= tour.description%></p>
                <% end %>
            </div>
            <div class="travel-card-links">
                <%= link_to edit_tour_path(tour), class: "card-tour-button" do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
                <%= link_to tour_path(tour), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{tour.name} from your tours?"}, class: "card-tour-button" do %>
                  <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                <% end %>
                <%if tour.privacy == false%>
                  <i class="fa-solid fa-lock-open"></i>
                <% else %>
                  <i class="fa-sharp fa-solid fa-lock"></i>
                <%end %>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>


</div>
