

<div class="container position-relative">


  <h3 class="mt-5">My tours</h3>

  <%# <a class="btn btn-ghost mt-2 mb-4" href="tour/new">Add a new tour</a> %>
  <%#= link_to "Add a tour", new_tour_path, class: "button button-primary"  %>
  <%#= link_to "+", new_tour_path, class: "btn-circle"  %>

  <!-- Button trigger modal -->
  <button type="button" class="btn-circle" data-bs-toggle="modal" data-bs-target="#exampleModal">
    +
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new tour</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "tours/form" %>
        </div>
      </div>
    </div>
  </div>


  <div class="cards">
    <% @tours.each do |tour| %>
        <div class="travel-card">
          <div class="travel-card-header">
          <% if tour.photo.key? %>
            <%= link_to tour_path(tour)do %>
              <%= cl_image_tag tour.photo.key %>
            <% end %>
          <% end %>
          </div>

        <%= link_to tour_path(tour)do %>
          <div class="travel-card-info">
            <div class="travel-card-text">
                <h3><%= tour.name %></h3>
                <% if tour.description %>
                    <p><%= tour.description%></p>
                <% end %>
            </div>
            <div class="travel-card-links" data-controller="locker">
                <%= link_to "Edit", edit_tour_path(tour), class: "button button-update" %>

                <%= link_to "Delete", tour_path(tour), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{tour.name} from your tours?"}, class: "button button-danger" %>

                <% if tour.privacy %>
                  <i class="fa-solid fa-lock" title="public" data-action="click->locker#switch" data-id=<%=tour.id%>></i>
                <% else %>
                  <i class="fa-solid fa-lock-open" title="public" data-action="click->locker#switch" data-id=<%=tour.id%>></i>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>


</div>
