

<div class="container position-relative">


  <h1 class="mt-5 title">My Tours</h1>

  <%# <a class="btn btn-ghost mt-2 mb-4" href="tour/new">Add a new tour</a> %>
  <%#= link_to "Add a tour", new_tour_path, class: "button button-primary"  %>
  <%#= link_to "+", new_tour_path, class: "btn-circle"  %>

  <!-- Button trigger modal -->
  <button type="button" class="btn-circle" data-bs-toggle="modal" data-bs-target="#exampleModal">
    +
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new tour</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "tours/form" %>
        </div>
      </div>
    </div>
  </div>


  <div class="cards">
    <% @tours.without(current_user.added_tours).each do |tour| %>
      <div class="travel-card">
        <%= link_to tour_path(tour) do %>
          <div class="travel-card-header">
            <% if tour.photo.key? %>
              <%= cl_image_tag tour.photo.key %>
            <% end %>
          </div>
          <div class="travel-card-text">
            <h3><%= tour.name %></h3>
            <p><%= tour.description %></p>
          </div>
        <% end %>
        <div class="buffer">
          <div class="travel-card-links" data-controller="locker">
            <%= link_to "Edit", edit_tour_path(tour), class: "button button-update" %>

            <%= link_to "Delete", tour_path(tour), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{tour.name} from your tours?"}, class: "button button-danger" %>

            <div class="lockbutton">
              <% if tour.privacy %>
                <i class="fa-solid fa-lock" title="private" data-action="click->locker#switch" data-id=<%=tour.id%>></i>
              <% else %>
                <i class="fa-solid fa-lock-open" title="public" data-action="click->locker#switch" data-id=<%=tour.id%>></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h1 class="mt-5 title">Added Tours</h1>


  <div class="cards">
    <% current_user.added_tours.each do |tour| %>
      <div class="travel-card">
        <%= link_to tour_path(tour) do %>
          <div class="travel-card-header">
            <% if tour.photo.key? %>
              <%= cl_image_tag tour.photo.key %>
            <% end %>
          </div>
          <div class="travel-card-text">
            <h3><%= tour.name %></h3>
            <p><%= tour.description %></p>
          </div>
        <% end %>
        <div class="buffer">
        </div>
      </div>
    <% end %>
  </div>





</div>
