<div>
  <br>
    <div class="profile-card">
            <% if current_user.photo.key? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar-profile"%>
            <% end %>
            <h3><%= current_user.username %></h3>
            <p><%= current_user.email %></p>
          <%= link_to "Edit", "/users/edit", class: "button" %>
      </div>


  <p>You have currently <%= current_user.tours.count %> tours.</p>
  <p>You have been added to the following tours:</p>
  <% current_user.added_tours.each do |tour| %>
    <%= link_to tour_path(tour) do %>
      <%= tour.name %>
    <% end  %>
  <% end %>
</div>
