<% site.notes.each do |note| %>
    <br>
  <div class="card-note">

  <%= note.rich_content %>
  <%# <%= raise if @site.notes.last == note %>
  <% if note.photos.first %>
    <% note.photos.each do |photo| %>
      <%= photo.key %>
      <%= cl_image_tag photo.key %>
    <% end %>
  <% end %>

  <div class="d-flex justify-content-end my-0">
    <% if site.tour.user == current_user %>
      <%= link_to "Edit", edit_note_path(note),  class: "button button-update" %>
    <% end %>
  </div>

  </div>
<% end %>
