<% if @site.photo.key %>
  <div class="banner-site" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path(@site.photo.key)%>);">
    <h1><%= @site.name %></h1>
  </div>
<% end %>

<div class="container mt-5">

  <div class="my-4">
    <%= link_to "Back to tour", tour_path(@site.tour), class: "button button-primary" %>
  </div>

  <div class="card-note-container">

    <% @site.notes.each do |note| %>
    <br>
      <div class="card-note">

        <%= note.rich_content %>

        <% if note.photos.first %>
          <% note.photos.each do |photo| %>
            <%= photo.key %>
            <%= cl_image_tag photo.key %>
          <% end %>
        <% end %>

        <div class="my-3 d-flex justify-content-end">
          <% if @site.tour.user == current_user %>
            <%= link_to "Edit", edit_note_path(note),  class: "button button-update" %>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>


  <% if @site.tour.user == current_user %>
    <%= render "notes/form" %>
  <% end %>

</div>
