<div class="container mt-5">
  <h1><%= @site.name %></h1>
  <%= link_to "Back to tour", tour_path(@site.tour), class: "button button-primary" %>

  <% if @site.photo.key %>
    <%= cl_image_tag @site.photo.key %>
  <% end %>

  <div class="card-note-container">

    <% @site.notes.each do |note| %>
    <br>
      <div class="card-note">

      <%= note.rich_content %>
      <%# <%= raise if @site.notes.last == note %>
      <% if note.photos.first %>
        <% note.photos.each do |photo| %>
          <%= photo.key %>
          <%= cl_image_tag photo.key %>
        <% end %>
      <% end %>

      <% if @site.tour.user == current_user %>
        <%= link_to "Edit", edit_note_path(note),  class: "button button-update" %>
      <% end %>

      </div>
  <% end %>


  </div>



  <% if @site.tour.user == current_user %>
    <%= render "notes/form" %>
  <% end %>

</div>
